.element {
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 282px;
    position: relative;
}

.element:first-child {
    grid-area: first;
}

.element:nth-child(2) {
    grid-area: second;
}