.header__links {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    margin: 6px 0 46px auto;
}

.header__links:hover {
    opacity: 0.6;
}