.element__place-reaction {
    width: 22px;
    height: 19px;
    padding: 0;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    background-image: url(../../../images/Like.svg);
}

.element__place-reaction:hover {
    opacity: 0.5;
}

